* { 
    margin: 15px;
    padding:0%;
    box-sizing:border-box;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, white, black, gray);
    padding: 20px;
    line-height: 2.0;
}

.header-principal {
    background-color: #f5f5f5;
    background-image: linear-gradient(to down, green, blue, red);

}

.container {
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 50;
    text-decoration: aliceblue;
    background-image: radial-gradient(red, purple);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

.subtitulo {
    background-color: rgba(155, 89, 182, 0.7);

}

.secao {
    background-color:hsl(0, 0%, 93%);
}


